<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
  <nav>

    <img class="logo" src="images/beeLogo.png" alt="Logo" />

    <div class="hamburger mobile-nav-toggle">
      <div class="hamline"></div>
      <div class="hamline"></div>
      <div class="hamline"></div>
    </div>

    <ul class="navLinks">
      <li><a href="/">Home</a></li>
      <li><a href="/addbug">Add A New Bug</a></li>
      <li><a href="/">API Documentation</a></li>
      <li><a href="/search">Search</a></li>
    </ul>

  </nav>

  <section class="intro">
  </section>

  <section class="docInfo">
  </section>
  

  <footer>
    <p>
      &copy;2018 Craig Lymus, Natasha Quijano, Tay J Solis
    </p>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../scripts/navbar.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
