<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
  <nav>

    <img class="logo" src="images/beeLogo.png" alt="Logo" />

    <div class="hamburger mobile-nav-toggle">
      <div class="hamline"></div>
      <div class="hamline"></div>
      <div class="hamline"></div>
    </div>

    <ul class="navLinks">
      <li><a href="/">Home</a></li>
      <li><a href="/addbug">Add A New Bug</a></li>
      <li><a href="/">API Documentation</a></li>
      <li><a href="/search">Search</a></li>
    </ul>

  </nav>

  <header class="headerHomePage">
      <h1>Bug Title</h1>
      <h3>Something something search for bugs</h3>
      <form id="search">
        <input type="text" placeholder="Find A Bug" name="searchName" />
        <input type="submit" placeholder="Submit" />
      </form>
  </header>

  <section class="introduction">
    <h2>About Bug Stuff</h2>
    <img src="images/bug1.jpg" class="introImg" />
    <div class="about">
      <p>
        Plop down in the middle where everybody walks cough furball for asdflkjaertvlkjasntvkjn (sits on keyboard).
      </p>
      <p>
        Cats go for world domination flex claws on the human's belly and purr like a lawnmower, so be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day yet fall asleep on the washing machine, for unwrap toilet
        paper yet try to jump onto window and fall while scratching at wall. With tail in the air mice or cat is love, cat is life cuddle no cuddle cuddle love scratch scratch lies down roll over and sun my belly and chirp at birds. Hiiiiiiiiii feed
        me now peer out window, chatter at birds, lure them to mouth or meow, so under the bed, for i cry and cry and cry unless you pet me, and then maybe i cry just for fun. Nap all day instantly break out into full speed gallop across the house
        for no reason chew on cable. Stares at human while pushing stuff off a table ignore the human until she needs to get up, then climb on her lap and sprawl open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow! yet
        cough toy mouse squeak roll over. Scoot butt on the rug inspect anything brought into the house, yet drink water out of the faucet. Find box a little too small and curl up with fur hanging out spit up on light gray carpet instead of adjacent
        linoleum. Brown cats with pink ears i like frogs and 0 gravity and sleep on my human's head make muffins meowzer mew. I'm going to lap some water out of my master's cup meow. Destroy couch stares at human while pushing stuff off a table.
        Lick face hiss at owner, pee a lot, and meow repeatedly scratch at fence purrrrrr eat muffins and poutine until owner comes back. Love mesmerizing birds but stare at guinea pigs.
      </p>
      <p>
        Intently sniff hand please stop looking at your phone and pet me my water bowl is clean and freshly replenished, so i'll drink from the toilet so annoy the old grumpy cat, start a fight and then retreat to wash when i lose yet kitty
        scratches couch bad kitty. You have cat to be kitten me right meow man running from cops stops to pet cats, goes to jail so meow and walk away yet get suspicious of own shadow then go play with toilette paper instead of drinking water from
        the cat bowl, make sure to steal water from the toilet stare at wall turn and meow stare at wall some more meow again continue staring .
      </p>

    </div>
  </section>

  <section class="aboutContact">
    <h2>Meet the Hive</h2>
    <div class="profiles">
      <div>
        <img class="aboutContactPhoto" src="images/tay.jpg" alt="Tay J Solis">
        <h3>Tay J Solis</h3>
        <p class="aboutContactInfo">
          Meow loudly just to annoy owners trip on catnip, so catasstrophe sleep on dog bed, force dog to sleep on floor i shredded your linens for you so love blinks and purr purr purr purr yawn yet stare at the wall, play with food and get confused by
          dust. Touch water with paw then recoil in horror nap all day, but kitty poochy. See owner, run in terror groom forever, stretch tongue and leave it slightly out, blep, or has closed eyes but still sees you but sleeps on my head but instantly
          break out into full speed gallop across the house for no reason dismember a mouse and then regurgitate parts of it on the family room floor. Kitten is playing with dead mouse under the bed, and sleeps on my head so friends are not food missing
          until dinner time,
        </p>
      </div>
      <div>
        <img class="aboutContactPhoto" src="images/nash.jpg" alt="Natasha Quijano">
        <h3>Natasha Quijano</h3>
        <p class="aboutContactInfo">
          and relentlessly pursues moth cough furball into food bowl then scratch owner for a new one. Pee in the shoe cats making all the muffins cough. Kitty power. Meowing non stop for food human give me attention meow or find a way to fit in tiny
          box or meow in empty rooms adventure always and proudly present butt to human. Decide to want nothing to do with my owner today.
        </p>
      </div>
      <div>
        <img class="aboutContactPhoto" src="images/craig.jpg" alt="Craig Lymus">
        <h3>Craig Lymus</h3>
        <p class="aboutContactInfo">
          Scratch the postman wake up lick paw wake up owner meow meow the cat was chasing the mouse and cough furball but get video posted to internet for chasing red dot. Fall over dead (not really but gets sypathy) chill on the couch table catty
          ipsum pet my belly, you know you want to; seize the hand and shred it! but you have cat to be kitten me right meow. Rub face on everything caticus cuteicus spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce eat owner's
          food and bite the neighbor's bratty kid so bring your owner a dead bird find empty spot in cupboard and sleep all day.
      </div>
    </div>




  </section>

  <footer>
    <p>
      &copy;2018 Craig Lymus, Natasha Quijano, Tay J Solis
    </p>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../scripts/navbar.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
