<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
  <nav>

    <img class="logo" src="images/beeLogo.png" alt="Logo" />

    <div class="hamburger mobile-nav-toggle">
      <div class="hamline"></div>
      <div class="hamline"></div>
      <div class="hamline"></div>
    </div>

    <ul class="navLinks">
      <li><a href="/">Home</a></li>
      <li><a href="/addbug">Add A New Bug</a></li>
      <li><a href="/documentation">API Documentation</a></li>
      <li><a href="/search">Search</a></li>
    </ul>

  </nav>

  <header class="headerHomePage">
    <h1>Bug Bounty</h1>
    <h3>A Comprehensive Guide to Bug Stuff</h3>
    <a href="/search"><button>Let's Go Bug Hunting</button></a>
  </header>

  <section class="introduction">
    <h2>About Bug Bounty</h2>

    <div class= "slideshow">
      <img src="images/bug1.jpg" class="introImg" />
      <img src="images/bug2.jpg" class="introImg" />
      <img src="images/bug3.jpg" class="introImg" />
      <img src="images/bug4.jpg" class="introImg" />
    </div>
    <div class="about">
      <p>
        Bug Bounty is an open-source database for bug lovers and curious minds to explore and identify the creepy crawlies that fascinate us.
      </p>
      <p>
        The Hive created the Bug Bounty database as a supplement to existing resources. Our mission is to create an easy to use tool that will help naturalists and scientists identify their specimens. As we grow, we hope to make this a 21st century tool that will allow our users to more readily access the insect taxonomy identification that was previously pinned in a collection of old textbooks and hard to read keys.
      </p>
      <p>
        All of the information in our database has been generously contributed by users like you.
      </p>
      <p>
        Bug Bounty comes fitted with an intuitive API. Read our documentation <a href="/documentation">HERE.</a>
      </p>
    </div>
  </section>

  <section class="aboutContact">
    <h2>Meet the Hive</h2>
    <div class="profiles">
      <div>
        <img class="aboutContactPhoto" src="images/tay.jpg" alt="Tay J Solis">
        <h3>Tay J Solis</h3>
        <p class="aboutContactInfo">
          Tay is an artist, full-stack web developer, and citizen scientist who wants to use technology to bring thoughtful, creative solutions that will help shape our future in big and small ways. As a lifelong learner, Tay has always been a lover of science – he spent much of his childhood in his backyard, kicking fire ant hills and collecting spiders to feed to his captured tree frogs. <br/>  </br/>
          You can find him online at <a href="https://tayjsolis.com/">tayjsolis.com</a>
        </p>
      </div>
      <div>
        <img class="aboutContactPhoto" src="images/nash.jpg" alt="Natasha Quijano">
        <h3>Natasha Quijano</h3>
        <p class="aboutContactInfo">
          Natasha is a developer and designer based in San Francisco, CA. Her vast interest for design, technology and advancement are what inspire her the most.

        <br/>  </br/>  On her free time, Natasha enjoys being an active individual, meeting new people and creating new experiences.


          <br/>  </br/>Contact:
          <br/>  </br/><a href="https://natashaquijano.com/">natashaquijano.com</a> </p>
          <a href="https://www.linkedin.com/in/natashaquijano/">linkedin</a> </p>
      </div>
      <div>
        <img class="aboutContactPhoto" src="images/craig.jpg" alt="Craig Lymus">
        <h3>Craig Lymus</h3>
        <p class="aboutContactInfo">
        Craig is an adventurer who enjoys absorbing new information and learning more about development.  His passions include reading as many Wikipedia articles as possible and living a healthy lifestyle. When he isn’t tapping different knowledge sources you can likely find him in some type of natural environment reveling in the beauty of this planet.
      </div>
    </div>




  </section>

  <footer>
    <p>
      &copy;2018 Craig Lymus, Natasha Quijano, Tay J Solis
    </p>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../scripts/navbar.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
