/* Add a Bug Page */

body {
  background-image: url("../images/bugLife.png");
  background-repeat: no-repeat;
    background-size: 105% 100%;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 145px;

}
section{
  padding: 2em;
}

form {
  background-color: #709F74;
  padding: 3em;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

form p{
  text-align: center;
  font-size: 2em;
  color: #F7F9F3;
  margin-top: -10px;
}


input{
  margin-bottom: .5em;
}

input[type=text] {
  color: #263439;
  background-color: #F7F9F3;
  border: 1px solid #709F74;
  font-size: 1em;
}

input[type=submit] {
  text-align: center;
  padding: 10px;
  background-color: #F7F9F3;
  font-size: 1em;
  color: #709F74;
}

input[type=submit]:hover {
  font-weight: 500;
}
.submitted {
  display: none;
}

.addBugForm{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.addBugForm{
  align-self: flex-start;
}

.addBugNames{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.addBugNames input{
  width: 100%;
}


h2{
  border-radius: 2px;
  border: 0;
  padding: 10px 25px;
  border-radius: 2px;
  height: 2em;
}

textarea{
    width: inherit;
    margin-bottom: 1em;
    height: 150px;
    padding: 20px;
    font-size: 1em;
    background-color: #F7F9F3;
}


.selectWrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}

select{
  color: #757575;
  height: 2.25em;
  margin-bottom: .5em;
  padding-left: 25px;
  background-color: #F7F9F3;
  border: 1px solid #709F74;
  font-size: 1em;
}

@media only screen and (max-width: 680px){
  main{
    flex-direction: column;
  }
  select{
    margin-bottom: .5em;
    text-align: center;
  }
}
