@font-face {
  font-family: "Kiona";
  src: url("Kiona-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #F7F9F3;
  margin: 0;
  display: flex;
  flex-direction: column;
}

section {
  padding: 8em;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

/* Typography */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Kiona";
}

h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
}

section h2 {
  margin: 2em;
  margin-top: -10px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: none;
}


a {
  text-decoration: none;
  color: #F7F9F3;
  filter: brightness(85%);
  font-weight: 300;
  transition: all 0.3s ease;
}

a:hover {
  filter: brightness(100%);
}


/* Nav Bar */
nav {
  background-color: #517957;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav li {
  text-decoration: none;
  font-size: 1.5em;
  padding: .5em;
  margin-right: 22px;
}

.logo {
	width: 55px;
	height: 69px;
	margin: 30px;
	padding: 0px;
	margin-left: 30px;
  text-decoration: none;

}

/* Hamburger */
.hamburger {
  margin: 1em 2em;
  display: none;
}

.hamline {
  width: 50px;
  height: 8px;
  margin: 9px;
  border-radius: 10px;
  background-color: #F7F9F3;
}

.navLinks {
  /* display: none; */
  flex-direction: column;
}

nav .navLinks {
  margin: -36px 0 0 0;
  padding: .5em;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 998;
  text-align: center;
}

nav .navLinks li {
  display: inline-block;
}

input {
  border-radius: 2px;
  border: 0;
  padding: 10px 25px;
  border-radius: 2px;
  padding: 10px 25px;
}

#search input[type=text] {
  color: #263439;
  width: 25em;
  margin-right: 1em;
  padding: 20px;
  background-color: #F7F9F3;
  outline: 1px solid #709F74;
  font-size: 1em;
}


input[type=submit] {
  text-align: center;
  padding: 20px;
  background-color: #709F74;
  font-size: 1em;
  color: #F7F9F3;
}

input[type=submit]:hover {
  font-weight: 500;
}

/* Header*/
header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/bugLife.png");
}

header h1 {
  font-size: 5em;
  margin: -15px;
  color: #D2A431;
}

header h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 20px;
  margin: .5em;
  font-weight: 300;
  color: #263439;
  margin-bottom: 60px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #709F74;
  color: #F7F9F3;
}

/* About Us / Contact Form */

.introduction {
  color: #263439;
  background-color: #D2A431;
}

.about {
  color: #263439;
}

.profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.profiles div {
  width: 30%;
}

.profiles div img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* Form */
/* COLORS PALETTE

dark blue: #263439;

gold: #D2A431;

dark green: #517957;

green: #709F74;

light green: #D4E7B6;

off white: #F7F9F3;

*/

@media only screen and (max-width: 680px) {
  * {
    text-align: center;
  }

  .profiles div {
    width: 100%;
  }

  .hamburger {
    display: block;
    margin: 1em 2em;
  }

  nav ul {
		display: none;
	}
