@font-face {
  font-family: "Kiona";
  src: url("Kiona-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #F7F9F3;
  margin: 0;
  display: flex;
  flex-direction: column;
}

section {
  padding: 8em;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

/* Typography */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Kiona";
}

h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 3em;
}

section h2 {
  margin: 2em;
}

h3 {}

ul {
  list-style-type: none;
  padding-left: none;
}

a {
  text-decoration: none;
  color: #F7F9F3;
  transition: all 1s;
}

a:hover{
  letter-spacing: .25em;
}

/* Nav Bar */
nav {
  background-color: #517957;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav li {
  text-decoration: none;
  font-size: 1.5em;
  padding: .5em;
}

.navLinks {
  display: none;
}

/* Hamburger */
.hamburger {
  margin: 1em 2em;
}

.hamline {
  width: 50px;
  height: 8px;
  margin: 9px;
  border-radius: 10px;
  background-color: #F7F9F3;
}

.navLinks {
  display: none;
  flex-direction: column;
}

nav ul {
  padding: .5em;
  position: absolute;
  top: 3.5em;
  width: 100%;
  background-color: #517957;
  width: inherit;
  z-index: 998;
  text-align: center;
}

input {
  border-radius: 2px;
  border: 0;
  padding: 10px 25px;
  border-radius: 2px;
  padding: 10px 25px;
}

#search input[type=text] {
  width: 30em;
  margin-right: 2em;
}

input[type=submit] {
  text-align: center;
}

input[type=submit]:hover {}

/* Footer */
footer {
  text-align: center;
}

/* Home Page*/
/* Header*/
header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/plant1.jpeg");
}

header h1 {
  font-size: 4em;
  margin: 0;
}

header h3 {
  font-size: 2em;
  margin: .5em;
  font-weight: 300;
}

/* Introduction */
.intrImage {
  background-color: #D2A431;
}

/* About Us / Contact Form */
.profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.profiles div {
  width: 30%;
}

.profiles div img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* Add a Bug Page */
.submitted {
  display: none;
}

.addBugForm{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#addBug {
  background-color: #709F74;
  padding: 3em;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.addBugNames{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addBugNames input{
  width: 30%;
}

#addBug {

}

textarea{
  border-radius: 2px;
  border: 0;
  padding: 10px 25px;
  border-radius: 2px;
  height: 10em;
}

#addBug textarea{
    width: inherit;
    margin-bottom: 1em;

}

#addBug input{
  margin-bottom: 1em;
}

/* Form */
/* COLORS PALETTE

dark blue: #263439;

gold: #D2A431;

dark green: #517957;

green: #709F74;

light green: #D4E7B6;

off white: #F7F9F3;

*/
@media only screen and (max-width: 640px) {
  * {
    text-align: center;
  }

  .profiles div {
    width: 100%;
  }
}
